@font-face {
    font-family: Lexend;
    src: url("https://lefredy7476.github.io/Lexend.ttf");
}

:root {
    --app-font-size: 16px;
    font-family: Lexend, 'Fira Code', monospace;
    font-size: var(--app-foot-size);
    --c0: #000;
    --c1: #fff;
    --c2: #66fac1;
    --radius: 8px;
    margin: 0;
    padding: 0;
    cursor: none;
}

button, input, a {
    cursor: inherit;
}

::selection {
    background-color: var(--c2);
    color: var(--c0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--c0);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#cursor {
    /* height: 100px;
    width: 100px; */
    background-color: #0000;
    position: fixed;
    z-index: 9999;
    /* top: 100px;
    left: 100px; */
    user-select: none;
    pointer-events: none;
    border: 4px solid var(--c0);
    outline: 4px solid var(--c2);
    border-radius: 1000px;
    /* NEVER EVER EVER PUT TRANSITION HERE, EXTREMELY CURSED */
    /* transition: 0.5s ease; */
}